.two {
    border: 0px;
    height: 185vh;
    margin-left: 0px;  
    box-shadow: 7px 0px rgb(200, 198, 198) !important;
    width: 15.55vw;
}
.collection-item {
    border-bottom: 0px !important;
    margin-right: 15px !important;
    padding-left: 0px !important;
    display: flex;
}
.collection-item > div {     
    padding: 10px;   
}
.collection-item div{
    padding-left: 5px;   
}
.collection-item div img {
    width: 20px;
    height: 20px;
}
.one {
    margin-bottom: 0px;   
    margin-left: 0px;    
    margin-right: 0px;    
}
.collection {
    margin-top: 0px
}
.block {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -30px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.block img {
    height: 60px;
    width: 60px;
}
.three {
    height: 15vh;
    border: 0px;
}
.col-m {
    margin-bottom: 50px;
}
.d-flex {
    display: flex;
    height: auto;
    align-items: center; 
}
.d-flex div {
    padding-right:10px;   
}
.d-flex img {
    width: 100% auto;
    height: 30px;  
}
.card {
    padding: 15px;
    box-shadow: 4px 4px rgb(204, 204, 203) !important; 
}
.card-action  {
    display: flex;
}
.card-action div {
    padding-right: 5px;
}
.block-2 {
    width: 100% !important ;
    height:200px;
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.block-2 > div {
    margin-top: -20px;
}
.block-2 img {
    width: 90%;
    height: 90%;
}
.block-3 {
    position: relative;
    width: 100% !important;
    height: 100px;
    top: -80px;
    display: flex;
    align-items: center;
}
.block-3 > div {
    margin-left: 15px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.block-4 {
    position: relative;
    width: 100% !important;
    height: 130px;
    top: -80px;
    display: flex;
    padding-left: 20px;
}
.block-4 > div {
    margin-top: 15px;
}
tr:nth-child(4) {
    border-bottom: none;
}
footer {
    border-top: 1px solid rgb(167, 163, 163) ;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
footer > div {
    display: flex;
}
footer > div div {
    padding-left: 20px;
}
.ert {
    height: 450px;
   
}