.two {
    border: 0px;
    height: auto;
    margin-left: 0px;  
}
.collection-item {
    border-bottom: 0px !important;
    background-color: darkcyan;
    margin-right: 15px !important;
    padding-left: 0px !important;
    display: flex;
}
.collection-item > div {     
    padding: 10px;   
}
.collection-item div{
    padding-left: 5px;   
}
.collection-item div img {
    width: 20px;
    height: 20px;
}
.collection-header {
    border-bottom: 2px solid grey;
}
.two {  
    box-shadow: 4px 0px rgb(204, 204, 203) !important;  
    height: 100% !important;
}
.one {
    margin-bottom: 0px;       
    height: 100vh !important;  
}
.collection {
    margin-top: 0px
}

.block {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -30px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.three {
    height: 15vh;
    border: 0px;
}
.col-m {
    margin-bottom: 50px;
}
.d-flex {
    display: flex;
    height: auto;
    align-items: center;

  
}
.d-flex div {
    padding-right:10px;
    
}
.d-flex img {
    width: 30px;
    height: 30px;
   
}
.card {
    padding: 15px;
    box-shadow: 4px 4px rgb(204, 204, 203) !important; 
}

.card-action  {
    display: flex;
}
.card-action div {
    padding-right: 5px;
}