.two {
    border: 0px;
    /* height: 185vh; */
    margin-left: 0px;  
    /* box-shadow: 7px 0px rgb(200, 198, 198) !important;   */
}
.collection-item {
    border-bottom: 0px !important;
    margin-right: 15px !important;
    padding-left: 0px !important;
    display: flex;
}
.collection-item > div {     
    padding: 10px;   
}
.collection-item div{
    padding-left: 5px;   
}
.collection-item div img {
    width: 20px;
    height: 20px;
}
.one {
    margin-bottom: 0px;   
    margin-left: 0px;    
    margin-right: 0px;    
}
footer {
    border-top: 1px solid rgb(167, 163, 163) ;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
footer > div {
    display: flex;
}
footer > div div {
    padding-left: 20px;
}
.three {
    height: 15vh;
    border: 0px;
}
.d-flex {
    display: flex;
    height: auto;
    align-items: center; 
}
.d-flex div {
    padding-right:10px;   
}
.d-flex img {
    width: 100% auto;
    height: 30px;  
}
.collection {
    margin-top: 0px
}
.block {
    position: relative;
    width: 100% !important;
    height: 130px;
    top: -80px;
    display: flex;
    padding-left: 20px;
}
.block > div {
    margin-top: 15px;
}
.card {
    padding: 25px;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    margin-top: -70px;   
}
.content > div {
padding: 10px;
}
.round {
    height: 200px;
    width: 200px;
    border-radius: 100px; 
    border: 3px solid; 
    box-shadow: 0 0 7px #666;  
    overflow: hidden;
    position: relative;
    top: -100px;
   }
.round img {
    width: 100%;
}
.btn {
    padding-left: 100px;
    padding-right: 100px;
}
.border {
   border-left: 5px solid rgb(180, 175, 175);
}